.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj.user
.Rhistory
private/
.RData
.Ruserdata
inst/doc
documentation/modelspec_files
.DS_Store
/Meta/
docs
cache
*.html
*.pdf
*.zip
*.exe
fpem*
rw2*
!rw2*.stan
!fpem*.stan
BayesCoverageIndicators.Rproj
*_files/
*.log
*.tex
*.aux
*.docx
/analysis/tmp_outputs

*.rmarkdown
